
# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/
coverage/

# Logs
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Backend
backend/dist/